{{- if .Values.components.ecronManagement.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dataflow.ecronManagement.fullname" . }}-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  cronsvr-secret.yaml: |
    #数据库
    db_addr: {{ .Values.depServices.rds.host | quote }}
    db_port: {{ .Values.depServices.rds.port }}
    user_name: {{ .Values.depServices.rds.user | quote }}
    user_pwd: {{ .Values.depServices.rds.password | quote }}
    db_name: {{ .Values.depServices.rds.database | quote }}
    system_id: {{ .Values.depServices.rds.system_id | quote }}
    db_format: {{ .Values.depServices.rds.dbFormat | default "utf8" | quote }}
    max_open_conns: {{ .Values.depServices.rds.maxConnections | default 30 }}
    timeout: {{ .Values.depServices.rds.timeout | default 10 }}
    read_timeout: {{ .Values.depServices.rds.readTimeout | default 10 }}
    write_timeout: {{ .Values.depServices.rds.writeTimeout | default 10 }}
{{- end }}
