{{- if .Values.components.flowAutomation.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dataflow.flowAutomation.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "dataflow.labels" . | nindent 4 }}
    app.kubernetes.io/name: {{ include "dataflow.flowAutomation.fullname" . }}
data:
  MONGODB_PASSWORD: {{ .Values.depServices.mongodb.password | toString | b64enc | quote }}
  REDIS_USERNAME: {{ .Values.depServices.redis.connectInfo.username | b64enc | quote }}
  REDIS_PASSWORD: {{ .Values.depServices.redis.connectInfo.password | toString | b64enc | quote }}
  REDIS_SENTINEL_USERNAME:  {{ .Values.depServices.redis.connectInfo.sentinelUsername | b64enc | quote }}
  REDIS_SENTINEL_PASSWORD:  {{ .Values.depServices.redis.connectInfo.sentinelPassword| toString | b64enc | quote }}
  DB_PASSWORD: {{ .Values.depServices.rds.password | toString | b64enc | quote }}
  {{- if and .Values.depServices.mq.auth (not (eq (printf "%s" .Values.depServices.mq.auth) "{}")) }}
  MQ_AUTH_USERNAME: {{ .Values.depServices.mq.auth.username | toString | b64enc | quote }}
  MQ_AUTH_PASSWORD: {{ .Values.depServices.mq.auth.password | toString | b64enc | quote }}
  MQ_AUTH_MECHANISM: {{ .Values.depServices.mq.auth.mechanism | toString | b64enc | quote }}
  {{- end }}
{{- end }}
