.container {
  position: relative;

  // 放大icon
  .fullscreen-icon-enlarge {
    position: absolute !important;
    top: 12px;
    right: 12px;
  }

  // 缩小icon
  .fullscreen-icon-shrink {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  :global {
    .sl-elements-api > .sl-flex {
      display: none;
    }
    [data-testid='two-column-right'] > .sl-stack > .sl-panel:nth-child(2),
    [data-testid='two-column-right'] > .sl-stack > .sl-panel:nth-child(3) {
      display: none;
    }

    [data-testid='two-column-right'] {
      max-width: 800px !important;
      width: 60% !important;
    }

    .HttpService > .sl-stack,
    .HttpService > .sl-relative {
      display: none;
    }

    .SendButtonHolder button {
      height: 32px !important;
      line-height: 32px !important;
      background: var(--custom-theme-color) !important;
      border-radius: 6px !important;
      justify-content: center;
    }

    .OperationParametersContent {
      max-height: none !important;
    }

    .TryItPanel {
      background: rgba(0, 0, 0, 0.08) !important;
    }

    .sl-panel__titlebar {
      background: rgb(224, 230, 240) !important;
      color: rgb(38, 38, 38) !important;
    }

    .sl-panel__content-wrapper {
      background: rgb(235, 238, 245) !important;
      color: rgb(38, 38, 38) !important;
    }

    // 没有focus，没有hover时，设置border-color
    .TryItPanel
      > .sl-panel
      > .sl-panel__content-wrapper
      > .OperationParametersContent
      input.sl-form-group-border:not(.sl-border-danger):not(:focus):not(:hover),
    .TryItPanel
      > .sl-panel
      > .sl-panel__content-wrapper
      > .OperationParametersContent
      button.sl-form-group-border:not(.sl-border-danger):not(:focus):not(:hover) {
      border-radius: 4px !important;
      border-color: inherit;
    }

    .TryItPanel
      > .sl-panel
      > .sl-panel__content-wrapper
      > .OperationParametersContent
      button.sl-form-group-border
      .sl-text-light {
      color: rgba(38, 38, 38, 0.4) !important;
    }

    .TextRequestBody pre {
      color: black !important;
    }

    .token.property {
      color: #005cc5 !important;
    }
    .token.operator {
      color: #d73a49 !important;
    }
    .token.number {
      color: #005cc5 !important;
    }
    .token.string {
      color: #032f62 !important;
    }
    .token.boolean {
      color: #005cc5 !important;
    }
    .token.punctuation {
      color: #333 !important;
    }

    .TextRequestBody {
      max-height: none !important;
    }

    .sl-leading-tight.sl-text-heading {
      font-size: 32px !important;
    }

    .sl-panel__content-wrapper > .sl-panel__content > div > div:first-child {
      display: none;
    }

    .sl-elements-api > .sl-bg-canvas > .sl-py-16 {
      max-width: none !important;
    }
  }
}

.fullscreen-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .not-fullscreen-container {
    :global {
      .sl-elements-api > .sl-px-24 {
        padding-left: 48px !important;
        padding-right: 48px !important;
      }
    }
  }
}
