namespace: dip
moduleName: vega-gateway-pro

# 环境变量：语言/时区
env:
  timezone: Asia/Shanghai
  language: en_US.UTF-8

replicaCount: 1

# 节点选择器
nodeSelector: {}

image:
  registry: acr.aishu.cn
  repository: dip/vega-gateway-pro
  tag: tag
  pullPolicy: IfNotPresent

service:
  vegagatewaypro:
    type: ClusterIP
    port: 8097
    nodePort: 8097
    ingress:
      enabled: true
      interface:
        path:
          - /api/vega-gateway-pro/v1
          - /api/vega-gateway/v2

# 反亲和性设置
antiAffinity:
  enabled: true
  rule: "soft" # 可选参数 hard, soft

# 微服务通信依赖配置
depServices:
  class-443:
    ingressClass: class-443
  hydra-admin:
    host: hydra-admin
    port: 4445
    protocol: http
  data-connection:
    host: data-connection
    port: 8098
    protocol: http
  vega-calculate-coordinator:
    host: vega-calculate-coordinator
    port: 8090
    protocol: http

config:
  server:
    runMode: release
    httpPort: 8097
    language: zh-CN
  log:
    logLevel: info
    developMode: false
    maxAge: 100
    maxBackups: 20
    maxSize: 100
  pool:
    queryPoolSize: 1000                  # 查询池大小
  query:
    cleanIntervalTime: 5m                # 查询清理间隔
    maxIntervalTime: 1h                  # 查询取数最大间隔时间
    dataQuerySize: 10000                 # 单次内部查询数据量及再次查询临界值
    dataCacheSize: 20000                 # 单个查询内部缓存数据量
  trace:
    maxSearchSpanSize: 1000
  observability:
    logEnabled: false
    traceEnabled: false
    metricEnabled: false
    logExporter: console
    traceProvider: http
    metricProvider: http
    logLoadInternal: 1
    logLoadMaxLog: 10
    traceMaxQueueSize: 50000
    metricIntervalSecond: 60
    httpLogFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-log/events
    httpTraceFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-trace/events
    httpMetricFeedIngesterUrl: http://feed-ingester-service:13031/api/feed_ingester/v1/jobs/dip-o11y-metric/events
    grpcTraceFeedIngesterUrl: feed-ingester-service:30013
    grpcTraceJobId: dip-o11y-trace-grpc
  rsa:
    privateKeyPath: /rsa/private_key.pem

# 资源配置
resources:
  requests:
    cpu: 0
    memory: 0Gi
  limits:
    cpu: 6
    memory: 4Gi
